<div class="task-card" [style]="'background-color:'+task.backgroundColor" [style.color]="task.fontColor">
    <!--style="background-color:{{test}}" -->
    <div class="task-card-header">
        <h2> {{task.title}} </h2>
        <p id="priority">Priorité : {{task.priority}} </p>
    </div>
    <div class="task-card-body">
        <p> {{task.description}} </p>
        <p>Début : {{task.startDate}} </p>
        <p>Fin : {{task.endDate}} </p>
    </div>
    <div class="task-card-footer">
        <p>Avancement : {{task.advancement}}/100 </p>
        <div class="option">
            <button class="delete-button" (click)="deleteTask()">Supprimer</button>
            <button class="update-button" (click)="updateTask()">Modifier</button>
        </div>
    </div>
</div>