$chromeColor: rgb(60, 60, 60);
nav {
    margin: 0px;
    margin-top: 0px;
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: space-between;
    background-color: $chromeColor;
    a {
        text-decoration: none;
        display: inline-block;
        padding: 12px 17px;
        margin-left: 0px;
        margin-right: 0px;
        color: white;
        //background-color: $chromeColor;
        font-size: 22px;
        &:hover {
            background-color: grey;
        }
        &:active {
            color: $chromeColor;
            background-color: rgb(232, 232, 232);
        }
    }
}

nav .active {
    background-color: rgb(22, 120, 22) !important;
}

// .button-options {
//     display: block;
// }
#disconnectButton {
    margin: 0px;
    border: none;
    padding: 5px 20px;
    display: block;
    background-color: #ec0000;
    color: white;
    font-size: 18px;
    &:hover {
        opacity: 0.9;
    }
    &:active {
        color: #ec0000;
        background-color: white;
    }
}