<button class="backButton" (click)="backPage()">Retour</button>
<div class="form-card">
    <h2>Modifier une todo liste</h2>

    <form [formGroup]="updateTaskListForm">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" id="title" formControlName="title">
        </div>
        <div class="action-buttons">
            <button type="button" (click)="onSubmitForm()" [disabled]="updateTaskListForm.invalid">Modifier</button>
        </div>
    </form>
    <br>
    <div *ngIf="process" class="loader"></div>
</div>