<div class="card">
    <h2> {{taskList.title}} </h2>
    <p> {{ taskList.tasks.length }} tache(s) </p>
    <div class="card-footer">
        <button (click)="onViewTaskList()">Voir</button>
        <div class="option">
            <button class="delete-button" (click)="deleteTaskList()">Supprimer</button>
            <button class="update-button" (click)="updateTaskList()">Modifier</button>
        </div>
    </div>
    <!-- <app-task *ngFor="let task of taskList.tasks" [task]="task"></app-task> -->
</div>